@model IEnumerable<TestParks.Models.Park>

<table>
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var park in Model)
        {
            <tr>
                <td>@park.Name</td>
                <td>@Html.ActionLink("Details", "Details", new {  id= park.Id  }) </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function toggleSortOrder(currentSortOrder) {
        var newSortOrder = currentSortOrder === "asc" ? "desc" : "asc";
        location.href = '@Url.Action("Index")?sortOrder=' + newSortOrder;
    }
</script>







